// Reset
//~~~~~~~~~~~~~~~~~

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Config
//~~~~~~~~~~~~~~~~~

@import "util/functions";
@import "util/fonts";

// Components
//~~~~~~~~~~~~~~~~~

@import "components/scroller.scss";
@import "components/shape.scss";
